/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(223, 157, 235);}
.OMO{
margin-right: auto;
margin-left:auto;
max-width: fit-content;
padding-bottom: 20px;
text-align: center;
color: #a30031;
}
.omoEye{
  color: #37ff00;
}
